<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dados excel</title>
</head>
<body>
    <form action="./localizar" method="GET" enctype="multipart/form-data">
        <input type="name" name="nome">
        <button type="submit">Pesquisar</button>
        <table>
            <td>Id_passado</td>
            <td></td>
        </table>
    
    </form>

    <h1>Upload de arquivos</h1>
    <form action="./inserir" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit"> Enviar</button>
    </form>
</body>
</html>